:root {
  --nav--bars: rgb(0, 76, 62);
  --light--green: rgb(0, 70, 62);
  --middle--green: rgb(0, 70, 63);
  --dark--green: rgb(0, 27, 9);
  --dark--green--t: rgba(0, 27, 9, 0.637);
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr: #b7c9e5;
}

.r_l, .l_r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle_container .content {
  height: 100%;
  width: 95%;
  position: relative;
}

.page_title {
  font-size: clamp(1.5em, 5vw, 2.8em);
  padding-top: 50px;
  margin: 0;
  border: 0;
}

.content_container {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.r_l .content_container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text_container {
  position: relative;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-justify: inter-word;
}

.text_container p {
  font-size: clamp(1em, 2vw, 2em);
}

.img_container {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img_container img {
  border-radius: 2em;
  -webkit-box-shadow: 5px 5px var(--dark--green--t);
          box-shadow: 5px 5px var(--dark--green--t);
  max-width: 95%;
  max-height: 95%;
  opacity: 0.8;
}

#quem_somos .img_container {
  border-radius: 2em;
  max-width: 95%;
  max-height: 95%;
}

#como_funciona .text_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#como_funciona .text_container .passos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.passos .passo {
  counter-increment: cada_passo;
  margin-right: 0px;
  border-radius: 40px;
  border: 2px dashed skyblue;
  margin: 10px 0;
}

.passo p {
  padding: 0 15px;
}

.passos .passo:before {
  content: counter(cada_passo);
  background-color: skyblue;
  width: clamp(0.6em, 2.9vw, 1.5em);
  height: clamp(0.6em, 2.9vw, 1.5em);
  border-radius: 50%;
  text-transform: center;
  position: absolute;
  left: -20px;
  margin-top: -5px;
  text-align: center;
  text-transform: center;
  color: white;
  font-size: clamp(0.6em, 2.9vw, 1.5em);
}

#como_funciona .text_container h1 {
  font-size: clamp(1em, 3vw, 1.7em);
}

#como_funciona .text_container p {
  font-size: clamp(0.6em, 2.9vw, 1.5em);
}

#list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list p {
  margin: 0 15px;
  padding: 4px 15px;
  position: relative;
}

.arrow {
  border: solid skyblue;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  margin: 0 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.the_card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 2em;
}

.the_card h1 {
  font-size: clamp(2em, 3.5vw, 3em);
}

@-webkit-keyframes flip_front {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  40% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  80% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip_front {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  20% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  40% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  60% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  80% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes flip_back {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  20% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  60% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes flip_back {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  20% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  60% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  80% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.card_front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #333;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-justify: inter-word;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: flip_front 5s;
          animation: flip_front 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #333;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-animation: flip_back 5s;
          animation: flip_back 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-justify: inter-word;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 750px) {
  .l_r .content_container, .r_l .content_container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .img_container {
    position: relative;
    width: 100%;
  }
  .text_container {
    position: relative;
    width: 100%;
  }
  .text_container p {
    font-size: clamp(1.2em, 2.7vw, 1.8em);
  }
  .page_title {
    font-size: clamp(1.5em, 4vw, 2em);
    padding-top: 50px;
    margin: 0;
    border: 0;
  }
}
/*# sourceMappingURL=cardDesign.css.map */