:root {
    /* new colors */
    --nav--bars: rgb(61, 139, 165);
    --submenus: rgb(112, 157, 172);
    --text: black;
    --text--highlight: #4F4F4F;
    --box--highlight: #56cbf298;
    --icon--color: rgb(1, 1, 75);
    --shaddow--color: gray;
    --almost-white: #f0f0f0;
    --border--color: darkblue;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
}

p {
    font-size: 14x;
}

body {
    padding: 0;
    margin: 0;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 1fr;

    background-color: var(--almost-white);
}

/* Header Styles */

header {
    grid-row-start: 1;
    grid-row-end: 2;
    
    display: grid;
    grid-template-columns: 3px 1fr 1fr 1fr 1fr 1fr 3px;
    grid-template-rows: 45px;
    gap: 2px;

    background-color: var(--nav--bars);
    z-index: 99;
}

.logo_name {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
    cursor: pointer;
}

.logo_name, .logo, .name {
    width: 100%;
    height: 100%;
    background: none;
}

.gradient:hover {
    animation: gradient 0.1s;
    background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight), var(--nav--bars));
}

.home {
    grid-column-start: 3;
    grid-column-end: 4;
}

.projects, .contact, .home, .sign_in{
    height: 100%;
    width: 100%;
    text-align: center;
}

header button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.projects nav, .contact nav {
    background-color: var(--submenus);
    position: absolute;
    margin-top: 1px;
    width: 210px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    /* hide and disble clicking or pointing on the links */
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    /* transform: translateY(-15px); */
}

.projects nav div, .contact nav div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.projects a, .contact a {
    margin: 15px 0;
    text-decoration: none;
}

.projects nav div:hover, .contact nav div:hover {
    background-color: var(--box--highlight);
    border-radius: 4px;
}

.projects button:focus + nav, .contact button:focus + nav {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

header button:focus {
    border-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: none;
    animation: gradientSelection 0.1s;
    background-color: var(--box--highlight);
    border-radius: 5px;
}

.projects button:focus + div, .contact button:focus + div {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.projects button:focus i, .contact button:focus i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

header .logo_name .name {
    margin: 4px 0 0 3px;
    height: auto;
    width: 90px;
}
header .logo_name .logo {
    margin-top: 10px;
}
header .logo_name .logo svg {
    position: relative;
    height: 45px;
}
/* End of header styles */

/* Styles for the middle Container */
.middle_container {
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    overflow: hidden;
}
/* End of styles for the middle container */

/* Styles for the left panel */
.side_bar_left {
    background-color: var(--nav--bars);
    height: 25px;
    width: 45px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
    border-radius: 70px;

    transform: translateY(-50px);
    transition: all 0.3s ease-in;
}

.tools {
    margin-top: 15px;
}

.tool {
    transform: translateY(75px);
    display: flex;
    align-content: center;
    height: 40px;
    margin: 5px 0;
    transition: opacity, transform 0.3s ease 0s;
    opacity: 0;
}

.tool img {
    height: 0px;
    margin-left: 0px;
    align-self: center;
    transition-property: margin, height;
    transition-duration: 0.3s;
}

.tool button {
    background: none;
    border: none;
    margin: 0;
    text-decoration: none;
    font-size: 0;
    transition: font-size 0.1s ease 0.2s;
    text-align: center;
    text-justify: auto;
    cursor: pointer;
}

.tool button:active, .tool button:focus {
    border: none;
    margin: none;
    padding: none;
    outline: none;
    transform: scale(1.05);
}

/* .tool button:focus + button:parent {
    border-top: 1px solid var(--almost-white);
    border-bottom: 1px solid var(--almost-white);
} */

.toggle_btn {
    background-color: var(--nav--bars);
    position: fixed;
    top: -30px;
    left: 0px;
    height: 70px;
    width: 45px;
    border: none;
    border-radius: 70px;
    z-index: 1;
    transform: translateY(50px);
    transition: all 0.3s ease 0s;
}

.toggle_btn .hamburger {
    margin-top: 20px;
}

.toggle_btn span {
    display: block;
    margin: 4px 0 0 1px;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.hamburger_selector {
    position: fixed;
    border: none;
    top: 42px;
    left: -2px;
    width: 45px;
    height: 40px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}

.hamburger_selector:checked {
    border: none;
    margin: none;
    padding: none;
}

.hamburger_selector:checked ~ .toggle_btn .last {
    background-color: transparent;
}

.hamburger_selector:checked ~ .toggle_btn .first {
    height: 30px !important;
    border-radius: 50%;
}

.hamburger_selector:checked ~ .side_bar_left {
    height: 140%;
    z-index: 0;
    width: 48px;
    transform: translateY(-45px);
}

.hamburger_selector:checked ~ .side_bar_left div {
    opacity: 1;
    cursor: pointer;
}

.hamburger_selector:checked ~ .side_bar_left img {
    height: 20px;
    margin-left: 10px;
    align-self: center;
}

.hamburger_selector:checked ~ .side_bar_left:hover {
    width: 160px;
    border-radius: 0;
}

.hamburger_selector:checked ~ .side_bar_left:hover .tool button {
    font-size: 13px;
    cursor: pointer;
}
/* End of styles for left panel */

/* Styles for the main content */
.main_content {
    height: 100%;
    width: 100%;
}
/* End of styles for the main content */

/* Animations */
@keyframes gradient {
    0% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 50%, var(--box--highlight) 50%, var(--nav--bars) 50%, var(--nav--bars));}
    25% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 35%, var(--box--highlight), var(--nav--bars) 75%, var(--nav--bars));}
    50% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 20%, var(--box--highlight), var(--nav--bars) 80%, var(--nav--bars));}
    75% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 10%, var(--box--highlight), var(--nav--bars) 90%, var(--nav--bars));}
    100% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 5%, var(--box--highlight), var(--nav--bars) 95%, var(--nav--bars));}
}
@keyframes gradientSelection {
    0% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 35%, var(--box--highlight) 65%, var(--nav--bars));}
    25% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 30%, var(--box--highlight) 70%, var(--nav--bars));}
    35% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 22%, var(--box--highlight) 78%, var(--nav--bars));}
    50% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 17%, var(--box--highlight) 83%, var(--nav--bars));}
    75% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 12%, var(--box--highlight) 88%, var(--nav--bars));}
    100% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 2%, var(--box--highlight) 98%, var(--nav--bars));}
}
/* End of animations */