:root {
    /* new colors */
    --nav--bars: rgb(52, 147, 179);
    --submenus: rgb(112, 157, 172);
    --text: black;
    --text--highlight: #4F4F4F;
    --box--highlight: #56cbf298;
    --icon--color: rgb(1, 1, 75);
    --shaddow--color: gray;
    --almost-white: #f0f0f0;
    --border--color: darkblue;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:600');

* {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: var(--text);
    text-decoration: none;
}

p {
    font-size: 14x;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--almost-white);
    overflow: hidden;
    z-index: -1;
}

/* Header Styles */

header {
    // position: absolute;
    width: 100vw;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: var(--nav--bars);
}

.logo_name {
    margin: 0 10px 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
}

.logo_name, .logo, .name {
    background: none;
}

.gradient:hover {
    animation: gradient 0.1s;
    background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight), var(--nav--bars));
}

.projects, .contact, .home, .sign_in{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

header button {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.projects button:focus + nav, .contact button:focus + nav {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 15px);
}

.projects nav, .contact nav {
    background-color: var(--submenus);
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.projects a, .contact a {
    width: 100%;
    height: 3em;
    margin: 5px 1em;
    text-decoration: none;
    transition: background-color 0.2s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_links a:hover {
    background-color: var(--box--highlight);
    border-radius: 8px;
}

header button:focus {
    border-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    box-shadow: none;
    animation: gradientSelection 0.1s;
    background-color: var(--box--highlight);
    border-radius: 5px;
}

.projects button:focus + div, .contact button:focus + div {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.projects button:focus i, .contact button:focus i {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

header .logo_name .name {
    margin: 4px 0 0 3px;
    height: auto;
    width: 90px;
}
header .logo_name .logo {
    margin-top: 10px;
}
header .logo_name .logo svg {
    position: relative;
    height: 45px;
}

/* Styles for the middle Container */
.middle_container {
    background-color: lightgrey;
    height: calc(100vh - 45px);
    width: 100vw;
    overflow: hidden;
}

/* Animations */
@keyframes gradient {
    0% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 50%, var(--box--highlight) 50%, var(--nav--bars) 50%, var(--nav--bars));}
    25% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 35%, var(--box--highlight), var(--nav--bars) 75%, var(--nav--bars));}
    50% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 20%, var(--box--highlight), var(--nav--bars) 80%, var(--nav--bars));}
    75% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 10%, var(--box--highlight), var(--nav--bars) 90%, var(--nav--bars));}
    100% {background-image: linear-gradient(90deg, var(--nav--bars), var(--nav--bars) 5%, var(--box--highlight), var(--nav--bars) 95%, var(--nav--bars));}
}
@keyframes gradientSelection {
    0% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 35%, var(--box--highlight) 65%, var(--nav--bars));}
    25% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 30%, var(--box--highlight) 70%, var(--nav--bars));}
    35% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 22%, var(--box--highlight) 78%, var(--nav--bars));}
    50% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 17%, var(--box--highlight) 83%, var(--nav--bars));}
    75% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 12%, var(--box--highlight) 88%, var(--nav--bars));}
    100% {background-image: linear-gradient(90deg, var(--nav--bars), var(--box--highlight) 2%, var(--box--highlight) 98%, var(--nav--bars));}
}