:root {
  /* new colors */
  --nav--bars: rgb(0, 76, 62);
  --light--green: rgb(0, 70, 62);
  --middle--green: rgb(0, 70, 63);
  --dark--green: rgb(0, 27, 9);
  --submenus: #709dac;
  --text: white;
  --text--highlight: #4F4F4F;
  --box--highlight: #56cbf298;
  --shaddow--color: gray;
  --almost-white: #f0f0f0;
  --border--color: darkblue;
}

.tarifas .text_container {
  width: 100%;
}

.beneficios .text_container {
  width: 100%;
}

.coluna h1 {
  font-size: clamp(1em, 3vw, 2em) !important;
}

.coluna h2 {
  font-size: clamp(0.8em, 2.8vw, 1.8em) !important;
}

.coluna p {
  font-size: clamp(0.4em, 2.4vw, 1.4em) !important;
  margin: 0;
  padding: 0;
  border: 0;
}

.coluna {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  padding: 0;
  border: 0;
}

.coluna a {
  font-size: clamp(0.24em, 2.24vw, 1.25em);
  color: rgba(168, 238, 255, 0.938);
}

.coluna .group {
  margin: 0;
  padding: 0;
  border: 0;
}

.coluna .group h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

.coluna .group h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

.linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.linha span {
  width: 5vw;
}

.linha img {
  height: clamp(50px, 10vh, 250px);
  padding: 2vh 2vw;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.transfer {
  max-height: 70vw;
  opacity: 0.3;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.growth {
  max-height: 70vw;
  opacity: 0.3;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 550px) {
  .estrutura h1 {
    font-size: clamp(1.2em, 3vw, 2.2em);
    margin: 1vh 0 2vh 0;
    padding: 0;
    border: 0;
  }
  .estrutura h2 {
    font-size: clamp(1.1em, 2.8vw, 2.1em);
    margin: 0 0 1vh 0;
    padding: 0;
    border: 0;
  }
  .estrutura p {
    font-size: clamp(0.8em, 2.8vw, 1.8em);
    margin: 0;
    padding: 0;
    border: 0;
  }
  .transfer {
    max-height: 90vh;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
}
/*# sourceMappingURL=tarifasBeneficiosDesign.css.map */